<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Kaiwa</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div data-sticky-container>
      <div class="sticky" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
        <nav class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text">
                  <h2><span style="font-family: Italianno"><%= link_to "Kaiwa", root_path %></span></h2>
                </li>
                <li>
                  <div class="input-group input-group-rounded">
                    <input class="input-group-field" type="search">
                    <div class="input-group-button">
                      <input type="submit" class="button secondary" value="Search">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="top-bar-right">
              <ul class="menu sign-up">
                <% if user_signed_in? %>
                  <li> Signed in as <%= current_user.username %> | </li>
                  <li>
                    <%= link_to "Sign Out",
                      destroy_user_session_path, method: :delete
                    %>
                  </li>
                <% else %>
                  <li> <%= link_to "Sign In", new_user_session_path %> </li>
                  <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </body>
</html>
